body{
  background-color: rgb(255,255,255)
}
#imagem2 {
  width:50%;
}

{
 display: inline-block;
 margin-right: 25%;
}
h1{
  color:#FF9800;
    text-aling:center;
}

h2{
  text-align; center;
  color:#0400FF;
}

font-size:20px;
}
h1o {
  text-align:center;
}

.textoprincipal{
  background-color:#FFC107
}
